body{
    background-color: #A0C49D;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

h2, h5 {
    text-align: center;
    font-size: inherit;
}

nav {
    text-align: center;
    font-size: large;
}

.container {
    margin: 20px;
    background-color: #C4D7B2;
}

.search-container, .content-container {
    padding: 30px;
    border-radius: 5px;
}

.search-block {
    display: flex;
	flex-direction: row;
}

.search-label {
    min-width: 250px;
}

img#location-img {
    width: 500px;
}

#location-info {
    display: block;
}

.content {
    margin: 10px;
}

.content-block {
    display: flex;
}

.content-card {
    background-color: #E9FFC2;
    padding: 20px;
    font-weight: bold;
    overflow: hidden;

    &.last-card {
        flex-grow: 1;
    }
}

#recent-search-trip {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .card {
        background-color: #E9FFC2;
        padding: 20px;
        margin: 10px;
        border-radius: 5px;
    }

    .card-img {
        width: 100%;
        box-sizing: border-box;
    }
}

@media(max-width:900px) {
	.content-block {
		display: block; 
	}
    
    .search-block {
        display: block;
    }

    img#location-img {
        width: 100%;
    }

    #recent-search-trip {
        display: block;
    }

    #location-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}